:root {
    --overlap-dist: -32px;
}

div.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 10px;
}

#centerColumn {
    flex-shrink: 0;
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    row-gap: 10px;
}

.view-container {
    flex-grow: 1;
    flex-basis: 60%;
    width: 95%;
}

.sidebox {
    border-top: 2px solid var(--outline-col);
    margin-top: 0;
    padding: 12px;
}

#leftColumn {
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;

    width: 25%;

    border-right: 2px solid var(--outline-col);
    border-top-right-radius: 24px;
}

#rightColumn {
    flex-basis: 25%;
    flex-grow: 0;
    display: flex;
    flex-flow: column nowrap;
}

#rightColumn > .sidebox {
    border-top-left-radius: 24px;
    border-left: 2px solid var(--outline-col);
    flex-grow: 1;
}

.unused-attr-container {
    width: 85%;
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    row-gap: 2px;
}