div.flex-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    column-gap: 10px;
}

#leftColumn {
    flex-grow: 1;
}

#centerColumn {
    flex-grow: 3;
}

#rightColumn {
    flex-grow: 1;
}