.main-axis-container {
    width: 100%;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    row-gap: 8px;
}

.axis-container {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 8px;

    border: 1px solid var(--outline-col);
    border-radius: 12px;
}

.unselected {
    opacity: 0.3;
}

button#axis {
    text-align: center;
    flex-basis: 5%;
    padding: 12px;

    border-radius: 14px;
}

.draggable-metric {
    flex-basis: 95%;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    column-gap: 16px;
    
    padding-right: 16px;
    padding-left: 12px;
    
    background: var(--main-dark);
    border-radius: 14px;
}

.draggable-metric:-webkit-drag {
    background-color: var(--main-dark);
}

#attr-name {
    text-align: center;
    flex-basis: 35%;
}

.range-slider {
    flex-grow: 1;
    flex-basis: 40%;
}