p {
    margin-bottom: 0;
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    border: 2px solid transparent;
}

.meter {
    height: 25px;
    position: relative;
    background: rgb(61, 59, 59);
    border-radius: 5px;
    padding: 1px;
}

.meter > span {
    height: 25px;
    background-color: rgb(39, 173, 129);
    display: block;
}

#container {
    flex-direction: column;
    align-content: stretch;  
}