:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--main-light);
  background-color: var(--grey);

  margin-top: 30px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --main-light: #f6f6f6;
  --main-dark: #222020;
  --grey: #2f2f2f;
  --bright-grey: #acacacb4;
  --outline-col: #686e75;

  --primary: #329ea3;
  --accent: rgb(228, 110, 0);

  --body-height: calc(100vh - 30px); /* take away the height of the titlebar */
  --bottom-bar-height: (100px);
}

#root {
  height: var(--body-height);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
}

#upper-main-section {
  height: calc(var(--body-height) - var(--bottom-bar-height));
  flex-grow: 1;
}

#bottom-bar {
  height: var(--bottom-bar-height);
  border-top: 2px solid var(--outline-col);
  flex-grow: 1;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
  outline: 2px solid var(--outline-col);
  border-radius: 0px 0px 10px 10px;
  margin-top: 0;
  padding: 12px 12px 12px 12px;
  width: fit-content;
}

div.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}

input[type="button"], button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 2em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--main-light);
  background-color: var(--main-dark);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: var(--primary);
}

button:active {
  border-color: var(--primary);
  background-color: var(--main-dark);
}

input, button {
  outline: none;
}

.titlebar {
  height: 30px;
  background: var(--primary);
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  user-select: none;
  -webkit-user-select: none;
}
.titlebar-button:hover {
  background: #5bbec3;
}

/* @media (prefers-color-scheme: dark) {
  add this if a user has a specific dark mode preference
}